@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
	font-family: 'Nunito', 'Helvetica Neue', 'Calibri', sans-serif !important;
}

/*
.section {
	width: 100vw;
	height: 100vh;
}
*/
/*
.container {
	width: 100vw;
	height: 100vh;
}
*/
/* landing page */
/*
.landingpage {
	background: rgb(255,95,33);
	background: linear-gradient(180deg, rgba(255,95,33,1) 0%, rgba(252,176,69,1) 50%, rgba(255,95,33,1) 100%);
	width: 100vw;
	height: 100vh;
}
*/

.giticon {
	height: 50px;
	width: 50px;
	padding: 5px;
}

/* porfolio */
.portheader {
	text-align: center;
}

/* contact me section */
.contactheader {
	text-align: center;
}

.iconRow {
	display: flex;
	justify-content: center;
}

.form-group {
	display: flex;
	justify-content: center;

}

.socialicon {
	height: 100px;
	width: 100px;
	padding: 10px;
}

.portfoliotext {
	background: grey;

}

/* media query for narrow width and landscape mode */
@media (min-width: 300px) and (orientation: landscape) {
	h1 {
		font-size: 2.8rem;
		text-align: center;
	}
	.jobtitle {
		font-size: 1.4rem;
		text-align: center;
	}

	/* blank space on landing page */
	.fillerspace {
		height: 19vh;
		width: 80vw;
	}
	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1rem;
	}
}

.contact {
	display: flex;
	flex-direction: column;
}
/* media query for narrow width and portrait mode */
@media (min-width: 300px) and (orientation: portrait) {
	h1 {
		font-size: 2.8rem;
		text-align: center;
	}
	.jobtitle {
		font-size: 1.4rem;
		text-align: center;
	}

	/* blank space on landing page */
	.fillerspace {
		height: 50vh;
		width: 79vw;
	}
	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1rem;
	}
}

/* media query for medium width */
@media (min-width: 576px) {
	h1  {
		font-size: 4rem;
		text-align: center;
	}
	.jobtitle {
		font-size: 2.1rem;
		text-align: center;
	}

	/* blank space on landing page */
	.fillerspace {
		height: 60vh;
		width: 80vw;
	}
	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1.4rem;
	}
}

/* media query for medium width in landscape mode */
@media (min-width: 576px) and (orientation: landscape) {
	h1  {
		font-size: 4rem;
		text-align: center;
	}
	.jobtitle {
		font-size: 2.1rem;
		text-align: center;
	}

	/* blank space on landing page */
	.fillerspace {
		height: 20vh;
		width: 80vw;
	}
	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 1.4rem;
	}
}

/* media query for iPad portrait mode */
@media (min-width: 760px) and (orientation: portrait) {
	.fillerspace {
		height: 70vh;
		width: 80vw;
	}
	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 2rem;
	}
}

/* media query for wide screen width*/
@media (min-width: 1000px) {
	h1 {
		font-size: 4.5rem;
		text-align: left;
	}
	.jobtitle {
		font-size: 3.2rem;
		text-align: right;
		padding-right: 5vw;
	}

	/* blank space on landing page */
	.fillerspace {
		height: 50vh;
		width: 80vw;
	}
	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 2rem;
	}
	.giticon {
		height: 100px;
		width: 100px;
		padding: 5px;
	}
}

/*media query for very wide width screen */
@media (min-width: 1300px) {
	h1 {
		font-size: 6rem;
		text-align: left;
	}
	.jobtitle {
		font-size: 3.8rem;
		text-align: right;
		padding-right: 5vw;
	}

	/* blank space on landing page */
	.fillerspace {
		height: 48vh;
		width: 80vw;
	}

	.languages {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		font-size: 2rem;
	}

	.giticon {
		height: 100px;
		width: 100px;
		padding: 5px;
	}

	.contactheader, .portheader {
		font-size: 5rem;
	}

}
