@import url('https://fonts.googleapis.com/css?family=Nunito');

/* CSS variables */
:root {

}

body {
	font-family: 'Nunito', 'Helvetica Neue', 'Calibri', sans-serif !important;
}
/*
.section {
	width: 100vw;
	height: 100vh;
}
*/

.container {
	padding-top: 50px;
}

h2 {
	display: flex;
	justify-content: center;
}

.languages {
	display: inline;
}

.form-group {
	display: flex;
	justify-content: center;

}

.contactme {
	margin-top: 200px;
}