body {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.stickynav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingpage {
	background-color: white;
}

.portfolio {
	background-color: green;
}

.contactme {
	background-color: blue;
}

/* mobile style */
@media only screen and (max-width: 480px) {

	.section {

	}

	h1 {
		color: red;
	}
}

/* tablets */
@media only screen
and (min-width: 481px)
and (max-width: 1024px) {

}

/* desktops and laptops */
@media only screen
and (min-width: 1025px) {

	h1 {
		color: blue;
	}
}
