@import url('https://fonts.googleapis.com/css?family=Nunito');

/* CSS variables */
:root {

}

/* make two versions (portrait and landscape/desktop). one for narrow width and one for wide width. check google developer article you bookmarked. */

body {
	display: flex;
	flex-direction: column;
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

.section {
	width: 100vw;
	height: 100vh;
}

/* styling for the sticky nav bar */
.stickynav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 30px;
	background-color: #fff;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

a {
	text-decoration: none;
	color: #9c9c9c;
}

a:hover {
	color: #575757;
}

a:active {
	color: #000;
}

a:visited {
	color: #adadad;
}

/* styling for the landing page and contents */
.landingpage {
	background-color: white;
}

.name {
	display: flex;
	padding-top: 5vh;
	font-size: 5vw;
	justify-content: flex-start;
}

.imagespace {
	width: 100vw;
	height: 35vh;
	background-color: #000;
}

.jobtitle {
	display: flex;
	justify-content: center;
	font-size: 3vw;
}

.languages {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	font-size: 2vw;
}

/* portfolio section */
.portfolio {
	background-color: #e7e7e7;
}


.portfoliopics {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.portpic {
	width: 72vw;
	height: 40vw;
	border: 3px solid black;
	margin-top: 6vh;
	margin-bottom: 10vh;
}

.contactme {
	background-color: #d1d1d1;
}

/* mobile style */
@media only screen and (max-width: 480px) {


}

/* tablets */
@media only screen
and (min-width: 481px)
and (max-width: 1024px) {

}

/* desktops and laptops */
@media only screen
and (min-width: 1025px) {


}
