@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 110%;
}

li {
	padding: 8px;
}

.responsive {
	background-color: #ededed;
	max-width: 20%;
	height: auto;
	border-radius: 64px;
}

.infoBox {
	padding: 1em;
	background-color:#ffffff;
	font-size: 1.25em;
}

/* Might add back later

.colorBox {
	background-color:#f3eff4;
	border-color: white;
	border-radius: 32px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
}
*/