/* imports */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

body {
	background-color: purple;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-family: 'Raleway', 'Calibri', 'Helvetica', sans-serif;
}

p, h1, h2, h3 {
	display: flex;
	justify-content: flex-start;
	color: white;
}

img {
	max-width: 50vw;
	max-height: 25vw;
	display: flex;
	justify-content: flex-start;
}

/*
svg {
	width: 50%;
}
*/

h1 {
	font-size: 20vw;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

h2, h3 {
	font-size: 16vw;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
}


